* {
    font-size: 12px;
}

.projection-label, .projection-alert {
    width: 35em;
}

.chart-slider, .projection-value {
    width: 27em;
}

div .flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: aquamarine;
}

div .flex-container-column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: crimson;
}

div .space {
    width: 4em;
    height: 4em;
    border-style: solid;
    border-width: 3px;
    border-color: green;
}

.flex-container-column > *, .flex-container-row > * {
    flex: fit-content;
}

.hint-alert {
    font-size: 1.5em;
    text-align: center;
}

.header-contents h1 {
    font-size: 60px;
    font-weight: 300;
    text-align: center;
}

.error-msg {
    font-size: 12px;
    font-weight: 300;
    color: darkred;
}

.error-msg-hidden {
    visibility: hidden;
    font-size: 12px;
    font-weight: 300;
    color: darkred;
}

Button {
    width: 7em;
    text-align: center;
}