* {
    font-size: 12px;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: aquamarine;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: crimson;
}

.flex-container-row > *, .flex-container-column > * {
    flex: none;
}

.header-contents h1 {
    font-size: 60px;
    font-weight: 300;
    text-align: center;
}

div .space {
    width: 40px;
}

.error-msg {
    font-size: 12px;
    font-weight: 300;
    color: darkred;
}

.error-msg-hidden {
    visibility: hidden;
    font-size: 12px;
    font-weight: 300;
    color: darkred;
}

.panel-title {
    font-size: 30px;
}